* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #FF6600 url(../img/bg.jpg) left top no-repeat;
    background-size: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#main{
    position: absolute;
    top:55%;
    background-color: cornflowerblue;
}

#div1{
    position:absolute;
    top:50px;
    left:50px;
    width:100px;
    height:100px;
    background-color:red;
}

#div2{
    position: fixed;
    top:20px;
    left:20px;
    width:50px;
    height:50px;
    background-color:blue;
}

/*
top、bottom、left、right是绝对定位，必须设置position为absolute,如果用top等，
而position未设置为absolute，那设置是不起作用的。
这个绝对定位，是相对body或者position：relative的父级元素的绝对定位。

margin系列是相对定位position：relative，相对于其它容器

*/